@keyframes x-image-spinner {
  from { transform: rotate(0deg); } to { transform: rotate(360deg); }
}
@-webkit-keyframes x-image-spinner {
  from { transform: rotate(0deg); } to { transform: rotate(360deg); }
}

x-image {
  display: inline-block;
}

x-image img {
  position: relative;
  z-index: 2;
  display: block; /* prevents space under image */
}

.x-image-wrapper {
  position: relative;
}

.x-image-loader {
  background: #000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  z-index: 3;

  transition-property: opacity;
  transition-duration: .5s;

  -webkit-transition-property: opacity;
  -webkit-transition-duration: .5s;

  -ms-transition-property: opacity;
  -ms-transition-duration: .5s;
}

.x-image-display .x-image-spinner {
  width: 16px;
  height: 16px;
  bottom: 10px;
  right: 10px;
  background: url('spinner.png');
  position: absolute;

  transform: rotate(0deg);
  animation-name: x-image-spinner;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  -webkit-transform: rotate(0deg);
  -webkit-animation-name: x-image-spinner;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -ms-transform: rotate(0deg);
  -ms-animation-name: x-image-spinner;
  -ms-animation-duration: 1s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}

.x-image-inactive .x-image-loader {
  display: none;
}

.x-image-display .x-image-loader {
  opacity: 1;
}